<section id="about" class="about-section">
  <div class="container">
    <div class="grid">
      <div class="bio-content" data-aos="fade-right">
        <h2 class="gradient-text">Building Modern Mobile Experiences</h2>
        <p class="glass-card about-text">
          I am a Full Stack Developer obsessed with the intersection of 
          <strong>performance</strong> and <strong>aesthetics</strong>. 
          With a background in Engineering, I build digital systems that don't just work—they perform.
        </p>
      </div>

      <div class="identity-card glass-card" data-aos="fade-left" data-aos-delay="200" style="height: 92%;">
        <div class="card-header">
            <i-lucide name="user" class="icon-blue"></i-lucide>
            <span>Based in India</span>
        </div>
        <ul class="info-list">
          <li><strong>Focus:</strong> Ionic, Angular, JavaScript, Kotlin</li>
          <li><strong>Experience:</strong> ~ 2 Years</li>
          <li><strong>Motto:</strong> Clean Code • DRY Principles  • Smooth User Experience •  Performance Optimization</li>
          <li><strong>Motto:</strong> Clean Code • DRY Principles  • Smooth User Experience •  Performance Optimization</li>
        </ul>
      </div>
    </div>
  </div>
</section>