@media (max-width: 992px) {
  canvas {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  canvas {
    display: none;
  }
}

// 3d grid lines ,infinite grid  , 
canvas{ 
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}
// tech stack canvas
// canvas{
//   width:100%;
//   height:500px;
// }