<section id="experience" class="timeline-section">
  <h2 class="section-title gradient-text" data-aos="fade-down">
    My Journey
  </h2>

  <div class="timeline-container">
    <div class="main-line" #timelineLine></div>

    <!-- Current Role -->
    <div class="timeline-item left" data-aos="fade-right">
      <div class="content glass-card">
        <span class="date">2024 - Present</span>
        <h3>Software Engineer <span class="badge work">Work</span></h3>
        <p>
          Working on scalable mobile and web applications using 
          Ionic, Angular, and modern frontend technologies.
        </p>
        <i-lucide name="briefcase" class="timeline-icon"></i-lucide>
      </div>
    </div>

    <!-- Previous Role -->
    <div class="timeline-item right" data-aos="fade-left">
  <div class="content glass-card">
    <span class="date">2023 - 2024</span>

    <h3>
      Java Full Stack Certification (JSpiders)
      <span class="badge education">Education</span>
    </h3>

    <p>
     Completed a Java Full Stack certification at JSpiders, focusing on Core Java, 
  SQL, and web technologies. Built a strong foundation in backend development 
  and application design through hands-on learning and practical exercises.
    </p>

    <i-lucide name="graduation-cap" class="timeline-icon"></i-lucide>
  </div>
</div>

    <!-- Education -->
    <div class="timeline-item left" data-aos="fade-right">
      <div class="content glass-card">
        <span class="date">2019 - 2023</span>
        <h3>Bachelor of Engineering <span class="badge education">Education</span></h3>
        <p>
          Built a strong foundation in programming, software development, 
          and problem-solving.
        </p>
        <i-lucide name="graduation-cap" class="timeline-icon"></i-lucide>
      </div>
    </div>

  </div>
</section>