<section id="skills" class="skills-section">
  <h2 class="section-title" data-aos="zoom-in">Technical Arsenal</h2>

  <div class="skills-grid">

    <!-- FRONTEND -->
    <div class="skill-card glass-card" data-aos="fade-right" #skillCard>
      <h3>Frontend & Mobile</h3>

      <div class="skills-list">
        <span (pointerenter)="updateSkill($event, 90)" (click)="updateSkill($event, 90)">HTML</span>
        <span (pointerenter)="updateSkill($event, 85)" (click)="updateSkill($event, 85)">CSS</span>
        <span (pointerenter)="updateSkill($event, 88)" (click)="updateSkill($event, 60)">JavaScript</span>
        <span (pointerenter)="updateSkill($event, 92)" (click)="updateSkill($event, 60)">Angular</span>
        <span (pointerenter)="updateSkill($event, 80)" (click)="updateSkill($event, 75)">React</span>
        <span (pointerenter)="updateSkill($event, 90)" (click)="updateSkill($event, 95)">Ionic</span>
        <span (pointerenter)="updateSkill($event, 75)" (click)="updateSkill($event, 75)">React Native</span>
        <span (pointerenter)="updateSkill($event, 78)" (click)="updateSkill($event, 55)">Kotlin</span>
        <span (pointerenter)="updateSkill($event, 82)" (click)="updateSkill($event, 85)">Tailwind</span>
        <span (pointerenter)="updateSkill($event, 80)" (click)="updateSkill($event, 90)">Bootstrap</span>
      </div>

      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>

    <!-- BACKEND -->
    <div class="skill-card glass-card" data-aos="fade-up" #skillCard>
      <h3>Backend</h3>

      <div class="skills-list">
        <span (pointerenter)="updateSkill($event, 85)" (click)="updateSkill($event, 85)">Java</span>
        <span (pointerenter)="updateSkill($event, 75)" (click)="updateSkill($event, 75)">JDBC</span>
        <span (pointerenter)="updateSkill($event, 70)" (click)="updateSkill($event, 70)">Hibernate</span>
        <span (pointerenter)="updateSkill($event, 80)" (click)="updateSkill($event, 80)">Spring</span>
        <span (pointerenter)="updateSkill($event, 78)" (click)="updateSkill($event, 70)">Spring Boot</span>
      </div>

      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>

    <!-- TOOLS -->
    <div class="skill-card glass-card" data-aos="fade-left" #skillCard>
      <h3>Tools & Database</h3>

      <div class="skills-list">
        <span (pointerenter)="updateSkill($event, 85)" (click)="updateSkill($event, 65)">Git</span>
        <span (pointerenter)="updateSkill($event, 80)" (click)="updateSkill($event, 75)">MySQL</span>
      </div>

      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>

  </div>
</section>